@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.outer_box {
  width: 60%;
  height: 66%;
  background-color: #FFF;
  stroke-width: 1px;
  stroke: #DDD;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
  flex-shrink: 0;
  margin: 60px auto;
  border-radius: 30px;
  padding: 56px 32px;
}

.button {
  /* color: #213052;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: none; */
  display: inline-block;
  text-align: center;
  background: #434752;
  color: #fff;
  padding: 1.18em 2.32em 1.03em;
  line-height: 1;
  border: none;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button:hover {
  background-color: #213052;
}

.button::after,
.button::before {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: #213052;
  border-radius: 50%;
  transition: transform 0.6s ease;
  transform: scale(0);
  z-index: -1;
}

.button::after {
  bottom: -25%;
  right: 20%;
}

.button::before {
  top: -25%;
  left: 20%;
}

.button:hover:after,
.button:hover:before {
  transform: none;
}

button:hover {
  background-color: #213052;
}

form {
  display: flex;
  flex-direction: column;
  margin: 12px auto;
  width: 80%;
}

#datePick {
  overflow-wrap: break-word; 
}

.create_event_title {
  color: #213052;
  line-height: normal;
  font-family: 'Gilroy-Extrabold';
  text-align: center;
}

label {
  color: #213052;
  font-size: 1.32rem;
  font-family: Gilroy-Regular;
  line-height: normal;
  padding-left: 0px;
  display: block;
  text-align: left;
  margin-top: 21px;
}

input[type=text] {
  width: 100%;
  padding: 18px;
  border-radius: 0.9375rem;
  border: 1px solid rgba(161, 161, 161, 0.87);
  background: #FFF;
  margin: 12px 0;
  font-size: 20px;
  font-family: 'Gilroy-Regular';
}

/* .calendar_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
} */

/* #datePick,
#calendar_input_start,
#calendar_input_end {
  width: 100%;
  margin: 36px 0;
} */

/* #calendar_input_start {
  border-radius: 0.9375rem 0 0 0.9475rem;
}

#calendar_input_end {
  border-radius: 0 0.9375rem 0.9475rem 0;
} */

.create_event_button {
  margin: 32px auto 0;
  filter: url('#goo');
}

.ui-datepicker .ui-datepicker-title {
  font-family: 'Gilroy-ExtraBold' !important;
  color: #213052 !important;
  font-size: 1.15rem;
}

.ui-widget-header, .ui-state-highlight, .ui-state-hover, .ui-datepicker-next-hover, .ui-datepicker-prev-hover, .ui-state-default, .ui-widget-content .ui-state-default {
  border: none !important;
  background: #fff !important;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}

.ui-datepicker th {
  font-family: 'Gilroy-Regular' !important;
}

.ui-datepicker td {
  padding: 6px !important;
}

.ui-state-highlight .ui-state-default {
  color: #e09437 !important;
}

.ui-datepicker-today .ui-state-default.ui-state-highlight {
  color: #ff0000;
}

.ui-datepicker-current-day {
  color: #fff;
  border-radius: 9999px;
  background-color: var(--grey-800);
  padding: 2px 1px 0 2px;
}

p, li {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    color: #213052;
}

@media (max-width: 930px) {
  /* Reduce the font size by 20% for all elements inside the body */
  label{
  font-size: 95%; /* 80% of the original font size (16px) */
  }

  input[type=text]{
    padding: 12px 12px
  }
}

@media (max-width: 620px){
  .create_event_title{
    font-size: 24px;
  }
}