.home-container {
    display: flex;
    width: 96%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.events {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 24px;
    background-color: #fff;
    width: 23%;    
    margin: 24px;
    padding: 24px;
}

.calendar {    
    width: 68%;    
    margin: 24px 12px;
    --grey-100: #e4e9f0;
    --grey-300: #b5c0cd;
    --grey-800: #252525;
    --day-label-size: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 24px;
}

ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.calendar-month {
    position: relative;
    background-color: #fff;
    border-radius: 24px;
}

.calendar-month-header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 36px;
    border-radius: 24px 24px 0 0;
}

.calendar-month-header-selected-month {
    font-family: "Gilroy-Extrabold";
    color: var(--grey-800);
    font-size: 24px;
    font-weight: 600;
}

.calendar-month-header-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.calendar-month-header-selectors>* {
    font-family: "Gilroy-Light";
    cursor: pointer;
}

.day-of-week {
    font-size: 18px;
    background-color: #fff;
    padding-bottom: 16px;
    padding-top: 8px;
}

.day-of-week,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 24px;
}

.day-of-week>* {
    font-family: "Gilroy-Light";
    padding: 5px;
    text-align: center;
    color: var(--grey-800);
    opacity: 0.5;
}

.days-grid {
    height: 100%;
    position: relative;
}

.calendar-day {
    position: relative;
    min-height: 88px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    padding: 5px;
    margin: 0 auto;
}

.calendar-day>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--day-label-size);
    height: var(--day-label-size);
}

.calendar-day--not-current {
    color: var(--grey-800);
    opacity: 0.25;
}

.calendar-day--today {
    padding-top: 3px;
}

.calendar-day--today>span {
    color: #fff;
    border-radius: 9999px;
    background-color: var(--grey-800);
    padding: 2px 1px 0 1px;
}