@font-face {
    font-family: Gilroy-ExtraBold;
    src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.woff2') format('woff2');
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('../fonts/gilroy-regular.ttf') format('truetype'), url('../fonts/gilroy-regular.woff') format('woff'), url('../fonts/gilroy-regular.woff2') format('woff2');
}

html {
    height: 100%;
}

html,
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Gilroy-Regular";
    color: #213052;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 1rem;
    min-height: 100%;
    min-height: 100%;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

h1 {
    font-family: "Gilroy-ExtraBold";
    font-size: 34px;
    line-height: 1em;
    line-height: 1.2em;
    font-weight: normal;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 21px;
    letter-spacing: normal;
    font-weight: normal;
}

h4 {
    font-size: 18px;
    font-weight: normal;
}

p,
li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
}

li {
    text-align: left;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-position: outside;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

li,
a {
    font-family: Gilroy-Regular;
    font-size: 1.05rem;
    color: #213052;
    text-transform: capitalize;
    line-height: normal;
}

button {
    font-family: "Gilroy-Regular";
}

header {
    background-color: #fcefd6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 12px 100px;
}

.logo_box {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 84px;
}

.hamburger_wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hamburger {
    height: 1px;
    width: 12px;
    background-color: black;
}

.show {
    display: block;
}

.nav_links {
    list-style: none;
}

.hide:not(.show) {
    display: none;
}

.hamburger_popup {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: white;
    top: 0;
    left: 0;
}

@media screen and (min-width: 1024px) {
    .hamburger_wrapper {
        display: none !important;
    }

    .nav_links {
        display: block !important;
    }
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #1a87d8;
}

.logo {
    height: 84px;
}

.logout {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-self: flex-end;
}

.logout>img {
    height: 21px;
}

/* .create_event_button>button {
    width: 11.6875rem;
    height: 3.375rem;
    border-radius: 0.9375rem;
    background: #376CC8;
    color: #FFF;
    font-size: 1.4375rem;
    font-family: Gilroy-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 8px;
    right: 0;
    bottom: 0;
    left: 0;
}

footer>p {
    font-family: "Gilroy-Light";
    font-size: 10px;
    margin: 2px;
    color: #667479;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    footer>p {
        font-size: 11px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 42px;
    }

    p,
    li {
        font-size: 15px;
    }

    footer>p {
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px) {
    h1 {
        font-size: 2.625vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 1.125vw;
    }



    p,
    li {
        font-size: 0.938vw;
        line-height: 1.5vw;
    }

    footer>p {
        font-size: 0.75vw;
    }
}

@media screen and (max-width: 1400px) {
    h1 {
        font-size: 32px;
        line-height: 1em;
        line-height: 1.2em;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }
}

















@media screen and (max-width: 768px) {
    .nav_links {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: absolute;
      background-color: #fff;
      top: 100%;
      left: 0;
      padding: 12px;
    }
  
    .nav_links.show {
      display: flex;
    }
  
    .nav_links a {
      color: #213052;
      font-size: 1rem;
      font-weight: 500;
    }
  }
